
    <div class="container mt-5">
      <div class="jumbotron">
        <h1 class="display-4"><%= @task.name %></h1>

        <hr class="my-4">

        <p class="lead"><strong>Due Date:</strong> <%= @task.time_elapsed %></p>

        <hr class="my-4">

        <%= link_to 'Back', tasks_path(@task), class: 'btn btn-secondary' %>
      </div>
    </div>
